*.class
.metadata
#.classpath if stuff doesn't work. unrem this line.

# Package Files #
#*.jar
*.war
*.ear

# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Maven
TisButAScratch/log/
TisButAScratch/target/